.dashboardContainer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.mainDash {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
}

.mainDash.centered {
  align-items: center;
  justify-content: center;
}

.dayPicker {
  --rdp-accent-color: var(--color-primary);
  --rdp-accent-background-color: var(--color-primary-600);
  --rdp-weekday-opacity: 0.5;
  --rdp-week_number-opacity: 0.2;
}

.weeklyStats {
  width: 100%;
  box-sizing: border-box;
}
